<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Far from Normal</title>
</head>
<body>
    <h1>Far From Normal</h1>

    <h3>Author: Becky Wallace</h3>

    <p>
        Maddie McPherson is sick of Normal—both her hometown of Normal, Illinois and being the ‘normal’ sibling. But when she lands a summer internship with a sports marketing firm, she finally has a chance to crawl out of her genius brother’s shadow. Not to mention, a glowing letter of recommendation could secure her admission to her dream college.

But Maddie’s nickname is “CalaMaddie” for a reason, and when the company tasks her with repairing the image of teen soccer phenom Gabriel Fortunato, she wonders if she’s set herself up for embarrassment. Gabriel is a tabloid magnet, who’s best-known for flubbing Italy’s World Cup hopes. As Maddie works with him to develop “pleasant and friendly” content for social media, she also learns he’s thoughtful, multi-talented, and fiercely loyal—maybe even to a fault. Falling for a footballer is exactly how CalaMaddie would botch this internship, but with the firm pressuring her to get the job done, perhaps her heart is worth risking? 
    </p>
</body>
</html>