<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furia</title>
</head>
<body>
    <h1>Furia</h1>

    <h3>Author: Yamile Saied Mendez</h3>

    <p>
        In Rosario, Argentina, Camila Hassan lives a double life.

At home, she is a careful daughter, living within her mother’s narrow expectations, in her rising-soccer-star brother’s shadow, and under the abusive rule of her short-tempered father.

On the field, she is La Furia, a powerhouse of skill and talent. When her team qualifies for the South American tournament, Camila gets the chance to see just how far those talents can take her. In her wildest dreams, she’d get an athletic scholarship to a North American university.

But the path ahead isn’t easy. Her parents don’t know about her passion. They wouldn’t allow a girl to play fútbol—and she needs their permission to go any farther. And the boy she once loved is back in town. Since he left, Diego has become an international star, playing in Italy for the renowned team Juventus. Camila doesn’t have time to be distracted by her feelings for him. Things aren’t the same as when he left: she has her own passions and ambitions now, and La Furia cannot be denied. As her life becomes more complicated, Camila is forced to face her secrets and make her way in a world with no place for the dreams and ambition of a girl like her.
    </p>
</body>
</html>