<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Insomniacs</title>
</head>
<body>
    <h1>The Insomniacs</h1>

    <h3>Author: Marit Weisenberg</h3>

    <p>
        When seventeen-year-old competitive diver Ingrid freezes up and sustains a head injury at a routine meet, her orderly life is turned upside down. Now housebound and sedentary on doctor’s orders, Ingrid can’t sleep and is haunted by the question of what triggered her uncharacteristic stage fright.

The only thing she remembers about the moment before the dive is seeing Van, her neighbor, former best friend, and forever crush, on the sidelines. Then one sleepless night, she sees Van outside her window...looking right back at her. They tentatively begin “not sleeping” together every night but still living separate lives by day.

Ingrid tells herself this is just temporary, but soon, she and Van are up every night together, increasingly intertwined in helping each other put pieces of memory together. As Van works through his own reasons for not being able to sleep, both of them are pulled into a mystery that threatens to turn their quiet neighborhood into a darker place than they realized.
    </p>
</body>
</html>