{% extends 'admin/layout.html' %}

{% block content %}
<div class="card edit">
  <header class="card-header">
    <p class="card-header-title">Category</p>
  </header>
  <div class="card-content">
    <div class="content">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      <form method="POST">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <p> {{ name }}</p>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <input type="submit" class="button is-link" value="Delete">
          </div>
          <div class="control">
            <a class="button is-text" href="{{ url_for('admin_author') }}">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
