<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Early Departures</title>
</head>
<body>
    <h1>Early Departures</h1>

    <h3>Author: Justin A. Reynolds</h3>

    <p>
        Justin A. Reynolds, author of Opposite of Always, delivers another smart, funny, and powerful stand-alone YA contemporary novel, with a speculative twist in which Jamal’s best friend is brought back to life after a freak accident . . . but they only have a short time together before he will die again.

Jamal’s best friend, Q, doesn’t know he’s about to die . . . again.

He also doesn’t know that Jamal tried to save his life, rescuing him from drowning only to watch Q die later in the hospital. Even more complicated, Jamal and Q haven’t been best friends in two years—not since Jamal’s parents died in a car accident, leaving him and his sister to carry on without them. Grief swallowed Jamal whole, and he blamed Q for causing the accident.

But what if Jamal could have a second chance? An impossible chance that would grant him the opportunity to say goodbye to his best friend? A new health-care technology allows Q to be reanimated—brought back to life like the old Q again. But there’s a catch: Q will only reanimate for a short time before he dies . . . forever.

Jamal is determined to make things right with Q, but grief is hard to shake. And he can’t tell Q why he’s suddenly trying to be friends with him again. Because Q has no idea that he died, and Q’s mom is not about to let anyone ruin the miracle by telling him. How can Jamal fix his friendship with Q if he can’t tell him the truth?
    </p>
</body>
</html>