<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hench</title>
</head>
<body>
    <h1>Hench</h1>

    <h3>Author: Natalie Zina Walschots</h3>

    <p>
        Anna does boring things for terrible people because even criminals need office help and she needs a job. Working for a monster lurking beneath the surface of the world isn’t glamorous. But is it really worse than working for an oil conglomerate or an insurance company? In this economy? As a temp, she’s just a cog in the machine. But when she finally gets a promising assignment, everything goes very wrong, and an encounter with the so-called “hero” leaves her badly injured.  And, to her horror, compared to the other bodies strewn about, she’s the lucky one.

So, of course, then she gets laid off.

With no money and no mobility, with only her anger and internet research acumen, she discovers her suffering at the hands of a hero is far from unique. When people start listening to the story that her data tells, she realizes she might not be as powerless as she thinks.

Because the key to everything is data: knowing how to collate it, how to manipulate it, and how to weaponize it. By tallying up the human cost these caped forces of nature wreak upon the world, she discovers that the line between good and evil is mostly marketing.  And with social media and viral videos, she can control that appearance.

It’s not too long before she’s employed once more, this time by one of the worst villains on earth. As she becomes an increasingly valuable lieutenant, she might just save the world.
    </p>
</body>
</html>