<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyhunter</title>
</head>
<body>
    <h1>Skyhunter</h1>

    <h3>Author: Marie Lu</h3>

    <p>
        Talin is a Striker, a member of an elite fighting force that stands as the last defense for the only free nation in the world: Mara.

A refugee, Talin knows firsthand the horrors of the Federation, a world-dominating war machine responsible for destroying nation after nation with its terrifying army of mutant beasts known only as Ghosts.

But when a mysterious prisoner is brought from the front to Mara's capital, Talin senses there’s more to him than meets the eye. Is he a spy from the Federation? What secrets is he hiding?

Only one thing is clear: Talin is ready to fight to the death alongside her fellow Strikers for the only homeland she has left... with or without the boy who might just be the weapon to save—or destroy—them all.
    </p>
</body>
</html>