<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Books</title>
</head>
<body>
    <section>
        <h1>Browse</h1>
        <p>Categories:</p>
        <ul>
            <li><a href="./browse/fantasy">Fantasy</a></li>
            <li><a href="./browse/sciencefiction">Science Fiction</a></li>
            <li><a href="./browse/sports">Sports</a></li>
        </ul>
    </section>
</body>
</html>