<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy Books</title>
</head>
<body>
    <h1>Fantasy</h1>

    <p>Fantasy is a genre that uses magic and other supernatural forms as a primary element of plot, theme, and/or setting. Fantasy is generally distinguished from science fiction and horror by the expectation that it steers clear of technological and macabre themes, respectively, though there is a great deal of overlap between the three (collectively known as speculative fiction or science fiction/fantasy)

        In its broadest sense, fantasy comprises works by many writers, artists, filmmakers, and musicians, from ancient myths and legends to many recent works embraced by a wide audience today, including young adults, most of whom are represented by the works below</p>

    <h4>New Releases:</h4>
    <ul>
        <li><a href="./fantasy/deadlyeducation">A Deadly Education</a></li>
        <li><a href="./fantasy/piranesi">Piranesi</a></li>
        <li><a href="./fantasy/seaofstars">To Sleep in a Sea of Stars</a></li>
    </ul>
</body>
</html>