{% extends "base.html" %}

{% block content%}
        
    <section>   
        <div>
            <h1>Meet Your Next Favorite Book.</h1>
        </div>
    </section>


    <div>
        <section>
            <h4>Deciding what to read next?  <a href="./browse">Browse Categories</a></h4>
        </section>
    
        <section>
            <h4>What are your friends reading? </h4>
        </section>
    
    </div>
    
    <section>
        <h4>Are you an author or a publisher?</h4>
    </section>

{% endblock%}