<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodReads</title>
</head>
<body>
    <header>
       <h1>goodreads</h1>
    </header>

    <section>
        <div>
            <h1 style ="text-align: center;">Meet Your Next Favorite Book.</h1>
        </div>
    </section>


    <div style="display: flex; flex-direction: row; justify-content: space-around;">
        <section>
            <h3>Deciding what to read next?  <a href="./browse">Browse Categories</a></h3>
        </section>
    
        <section>
            <h3>What are your friends reading? </h3>
        </section>
    
    </div>
    
    <section>
        <h3 style="text-align: center;">Are you an author or a publisher?</h3>
    </section>
</body>
</html>