<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports</title>
</head>
<body>
    <h1>Sports</h1>

    <p>
        Sports : engagement in physical activity intended to create a benefit to the participant. Ranging from Amateur to Professional, from incompetent to proficient, for all levels of ability, all nations, all creeds, all genders. As James Joyce said "I am, a stride at a time"
    </p>

    <ul>
        <li><a href="./sports/farfromnormal">Far From Normal</a></li>
        <li><a href="./sports/furia">Furia</a></li>
        <li><a href="./sports/theinsomniacs">The Insomniacs</a></li>
    </ul>
    
</body>
</html>